/* @import url("https://fonts.cdnfonts.com/css/chronicle-display"); */

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./assets/fonts/Gilroy-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Chronicle Display Semi";
  src:
    url("./assets/fonts/ChronicleDisplay-Semi.woff2") format("woff2"),
    url("./assets/fonts/ChronicleDisplay-Semi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Chronicle Display", sans-serif; */
  font-weight: 300;
}

body {
  background-color: #354147;
}

@layer components {
  .container {
    max-width: 1462px;
  }
  .max-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

/* Стилизация полосы прокрутки для всего документа */
::-webkit-scrollbar {
  width: 3px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: #e6e8e7; /* Цвет фона дорожки */
}

::-webkit-scrollbar-thumb {
  background: #fff; /* Цвет ручки полосы прокрутки */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ручки полосы прокрутки при наведении */
}
